<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      body {
        font-family: Arial, sans-serif;
        padding: 20px;
        background-color: #d54141;
      }
      form {
        background-color: #fff;
        padding: 20px;
        border-radius: 5px;
        max-width: 500px;
        margin: auto;
      }
      input[type="text"], input[type="email"], input[type="password"] {
        width: 100%;
        padding: 10px;
        margin-bottom: 10px;
        border-radius: 5px;
        border: 1px solid #ddd;
      }
      button {
        padding: 10px 20px;
        background-color: #007BFF;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
      }
      button:hover {
        background-color: #0056b3;
      }
    </style>
  </head>
  <body>
    <form action="/update/<%= user._id %>" method="post">
      <input type="text" name="serial" value="<%= user.serial %>" placeholder="serial number" readonly />
      <input type="text" name="name" value="<%= user.name %>" placeholder="username" />
      <input type="email" name="email" value="<%= user.email %>"  placeholder="email" />
      <input type="password" name="password" value="<%= user.password %>"  placeholder="password" />
      <!-- Add new fields -->
      <input type="date" name="dateOfBirth" value="<%= user.dateOfBirth %>" placeholder="Date of Birth" />
      <input type="text" name="address" value="<%= user.address %>" placeholder="Address" />
      <input type="text" name="phoneNumber" value="<%= user.phoneNumber %>" placeholder="Phone Number" />
      <input type="date" name="admissionDate" value="<%= user.admissionDate %>" placeholder="Admission Date" />
      <input type="text" name="course" value="<%= user.course %>" placeholder="Course" />
      <button>Update</button>
    </form>
  </body>
</html>